@font-face {
    font-family: 'Sublima';
    src: url(fonts/Sublima-ExtraBold.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
    height: 100%;
  }
}

body {
    color: white;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background: radial-gradient(circle at top left, #fda085 0%, #d18cb8 30%, #a18cd1 60%, #8bafd0 100%);
    font-family: "Sublima", sans-serif;
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header .logo {
    display: inline-block;
    padding: 20px;
}

header h1 {
    font-size: 2.25rem;
}

header .logo .author {
    text-align: right;
}

header .navBar {
  display: flex;
  gap: 5px;
}

header .navBar .navigation {    
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  background: transparent;
  transition: background 0.25s ease-in-out;
  font-size: 15px;
}

header .navBar #timer.navigation{
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  background: #785da180 !important;
}

header .navBar .navigation:hover {
  background: #785da180 !important;
  transform: none !important;
}


.quote-container {
  align-items: center;
  justify-content: center;
  width: 40vw;
  padding: 1rem;
  text-align: center;
}


#quote {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
}

.timer-container p {
    font-family: "Lora", serif;
    font-size: 1.5rem;
}

.timer-container .timer {
    font-size: 10rem;
}

.timer-container button {
    width: 8rem;
    height: 3rem;
    border-radius: 20px;
    border-style: none;
    background-color: #8c52ff;
    color: white;
}

.timer-container button:hover {
    background-color: #fda085;
    cursor: pointer;
}

.timer-container .current-task {
    font-family: "Lora", serif;
    font-size: 2rem;
    padding: 40px;
}

/* music icon */
.music {
  width: 3.5rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 100px;
  position: absolute;
  left: 2rem;
  bottom: 2rem;
}

.music:hover {
  scale: 1.1;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
}

#spotify {
  position: fixed; 
  left: 6.5rem;
  width: 25vw;
  height: 30vh;
  display: inline-block;
  z-index: 1000;
  bottom: -5%;
}

#spotify img.exit-spotify-popup {
  position: absolute;
  transform: translateY(-120%);
  right: 0;
  border: none;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  width: 2.5rem;
  height: 2.5rem;
}

#spotify .exit-spotify-popup img{
  width: 2.5rem;
  height: 2.5rem;
}

#spotify button:hover, #task-popup .exit-popup:hover {
  background-color: #fda085;
}

#spotify iframe {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
}


/* popup task overlay */
#task-popup {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateY(-105%);
    right: 1.5rem;
    z-index: 1000;
}

#task-popup img.exit-task-popup {
  position: absolute;
  transform: translateY(-110%);
  right: 8%;
  border: none;
  padding: 2px 10px 2px 10px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  width: 3.8rem;
}

/* Popup container on the right */
.task-popup-container {
    background-color: rgba(255, 255, 255, 0.3);
    width: 25vw;
    height: 80vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}

/* Inner content */
.task-popup-content {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.task-popup-content p {
  top: 2rem;
  width: 70%;
  text-align: center;
}

#new-task-form .form-container img {
  margin-right: 1.5rem;
}
/* buttons */
.task-btns button, .timer-btns-container button, #stop-popup .stop-popup-content .stop-buttons button, #break-btns .break-buttons button, #break-start-btns button {
    background-color: #8c52ff;
    border-radius: 20px;
    color: white;
    width: 8rem;
    height: 3rem;
    border: none;
    margin: 5px;
    cursor: pointer;
}

.task-btns button:hover, #stop-popup .stop-popup-content .stop-buttons button:hover, #break-btns .break-buttons button:hover, #break-start-btns button:hover{
    background-color: #fda085;
    cursor: pointer;
}

/* task list */
.task-list {
    padding: 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    list-style: none;
    transition: transform 0.3s ease;
    cursor: pointer;
    height: 50vh;
    width: 20vw;
    overflow-y: auto;
    margin: 10px;
    scrollbar-width: thin;
    scrollbar-color: #ffffff #8bafd0 ;
}

/* scrollbar for WebKit */
.task-list::-webkit-scrollbar {
    width: 8px;
}
.task-list::-webkit-scrollbar-thumb {
    background-color: #8c52ff;
    border-radius: 10px;
}
.task-list::-webkit-scrollbar-track {
    background-color: #8c52ff;
}

/* individual task items */
.task {
    background-color: rgba(146, 38, 90, 0.8);
    padding: 2rem;
    border-radius: 20px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.task:hover {
    transform: scale(1.2);
    background-color: #fda085;
}

#new-task-form {
  background-color: rgba(51, 51, 51, 0.3);
  border-radius: 20px;
}

#new-task-form .form-container {
  padding: 20px;
}
/* stop popup */
#stop-popup {
    position: fixed;
    top: 30%;
    left: 2.5rem;
    width: 26vw;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 20px;
}


#stop-popup img.exit-stop-popup {
  position: absolute;
  right: 0;
  top: -2.75rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  width: 2.5rem;
  height: 2.5rem;
}

#stop-popup .exit-stop-popup img{
  width: 2.5rem;
  height: 2.5rem;
}

#stop-popup .stop-popup-content {
  text-align: center;
  justify-content: center;
  align-items: center;
}

#stop-popup .stop-popup-content h1 {
  padding: 20px;
  font-size: 1.5rem;
}

#stop-popup .stop-popup-content .stop-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
